body {
    padding-top: 60px;
    font-family: Arial, sans-serif;
    background-color: #adaaaaef;
    margin: 0;
    padding: 0;
}

.navbar {
    overflow: hidden;
    background-color: #030303;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #868686;
    color: rgb(0, 0, 0);
}

header {
    background-color: #030303;
    color: #fff;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}



.hero {
    text-align: center;
    padding: 10px 0;
}

.hero h1 {
    font-size: 3rem;
}

.cursiva{
    font-style: italic;
}

section {
    padding: 40px;
    text-align: center;
}

#portfolio {
    background-color: #5c5959ef;
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
@media only screen and (max-width: 600px) {
    /* Agrega estilos aquí */
}

.prueb {
    margin-right: 15px;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background: lightgrey;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  }

  button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

  .logo {
    width: 190px;
    height: 254px;
    background: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 1px #00000088;
    cursor: pointer;
  }
  
  .logo .content {
    border-radius: 5px;
    background: #171717;
    width: 186px;
    height: 250px;
    z-index: 1;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content::before {
    opacity: 0;
    transition: opacity 300ms;
    content: ' ';
    display: block;
    background: white;
    width: 50px;
    height: 50px;
    position: absolute;
    filter: blur(50px);
  }
  
  .logo:hover .content::before {
    opacity: 1;
  }
  
  .logo::before {
    opacity: 0;
    content: ' ';
    position: absolute;
    display: block;
    width: 120px;
    height: 360px;
    background: linear-gradient(90deg, transparent, #ffffff, #000000, transparent);
    transition: opacity 300ms;
    animation: rotation_9018 3000ms infinite linear;
    animation-play-state: paused;
  }
  
  .logo:hover::before {
    opacity: 1;
    animation-play-state: running;
  }
  
  .logo::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 190px;
    height: 254px;
    background: #ffffff33;
    backdrop-filter: blur(50px);
  }
  
  @keyframes rotation_9018 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .bcs {
    width: 225px;
    height: 200px;
    background-color: transparent;
    background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
    border-radius: 20px;
    transition: all .3s;
  }
  
  .bcs2 {
    width: 225px;
    height: 200px;
    background-color: #313131;
    border-radius: 10px;
    transition: all .2s;
  }
  
  .bcs2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .bcs:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
  }

  .arq {
    width: 195px;
    height: 315px;
    background: #313131;
    border-radius: 20px;
    ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
  }
  
  .imgn {
    height: 30%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
  }
  
  .textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
  }
  
  .textBox > .text {
    font-weight: bold;
  }
  
  .textBox > .head {
    font-size: 20px;
  }
  
  .textBox > .price {
    font-size: 17px;
  }
  
  .textBox > span {
    font-size: 12px;
    color: lightgrey;
  }
  
  .arq:hover > .textBox {
    opacity: 1;
  }
  
  .arq:hover > .imgn {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
  }
  
  @keyframes anim {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(-20px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .arq:hover {
    transform: scale(1.04) rotate(-1deg);
  }
  
  